<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <parameter name="age" value="17"></parameter>
    <parameter name="expAge" value="18"></parameter>
   <groups>
     <run>
     <include name="testStudent"></include>
     </run>
   </groups>
    <classes>
      <class name="online_tusur.unit_online_tusur.NewTest"/>      
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
